{{- $image_file := .Destination -}}
{{- $alt := .Text -}}
{{- $base := path.BaseName $image_file -}}
{{- $dir := path.Dir $image_file -}}

{{- $avif := path.Join $dir (printf "%s.avif" $base) -}}
{{- $webp := path.Join $dir (printf "%s.webp" $base) -}}
{{- $gif := path.Join $dir (printf "%s.gif" $base) -}}

{{ if $gif }}
  <img src="{{ $image_file }}" alt="{{ $alt }}">
{{ else }}
  <picture>
    <source srcset="{{ $avif }}" type="image/avif">
    <source srcset="{{ $webp }}" type="image/webp">
    <source srcset="{{ $gif }}" type="image/gif">
    <img src="{{ $image_file }}" alt="{{ $alt }}">
  </picture>
{{ end }}
