body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 960px;
}
footer {
  min-height: 100px;
}
pre {
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 1em;
  overflow-x: auto;
}
.article-meta {
  text-align: start;
  background: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.title {
  font-size: 1.2em;
  line-height: 1.2;
}
.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-container h1 {
  flex-grow: 1;
}
.header-container ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
}
.header-container ul li {
  padding-right: 12px;
}
.post-titles {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
}
.post-titles li {
  padding-bottom: 8px;
}

@media (max-width: 720px) {
  .header-container {
    flex-direction: column;
    align-items: flex-start; /* so h1 and ul stack neatly */
  }

  .header-container h1 {
    flex-grow: 0; /* don’t force it to stretch */
    width: 100%; /* optional: make it full width */
  }

  .header-container ul {
    margin-top: 0.5rem; /* space between h1 and ul */
  }
}