{{ partial "header.html" . }}
<div class="article-meta">
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
</div>

<main>
{{ .Content }}
</main>

<div class="comment">
  <script src="https://utteranc.es/client.js"
          repo="rohmanhakim/rohmanhakim.github.io"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</div>


{{ partial "footer.html" . }}
